.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--space-4);
}

.form-container {
  width: 200px;
}

.form-error {
  color: var(--blue-11);
}

.form-error:where([data-visible='true']) {
  color: var(--gray-11);
}
