.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--space-4);
}

.form-container {
  width: 200px;
}

.server-error-message {
  color: var(--red-11);
  margin: 0;
}
