:root {
  background-color: #242424;
  box-sizing: border-box;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  width: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  width: 100%;
}

#root {
  height: 100%;
  text-align: center;
  width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
